/* Used to prevent content from being placed under the nav bar */
body { 
    padding-top: 75px;
    min-height: 100% !important; 
}
.carousel-inner {
    width:100%;
    max-height: 73vh !important;
}
.carousel-item img {
    height: 73vh !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.underline {
    text-decoration: underline !important;
}
h1 { 
    white-space: nowrap; 
}
/* Small devices (anything below 600 px in width) */
@media (max-width: 600px) { 
    .carousel-item img {
        height: 50vh !important;
    }
    .carousel-inner {
        width:100%;
        max-height: 50vh !important;
    }
    .about-us-text {
        font-size: 12px !important;
    }
    footer {
        position: relative !important;
    }
    #carouselExampleIndicators {
        margin-bottom: 15vh !important;
    }
    #formWrapper {
        margin-bottom: 26vh !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }